%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% This is the master file for the model_train graph
%

#include "common_params.txt"

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                              DIRICHLET TABLES                               %
% none needed at this time ...

DIRICHLET_TAB_IN_FILE   inline
0

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                               DECISION TREEs                                %
%                                                                             %
% a decision tree is needed whenever we use a DeterministicCPT or a mapping;  %
% here we list first those DTs that are paired with a DeterministicCPT of the %
% same name (w/o the _DT ending), then those that are used as part of a       %
% mapping of some sort ...

DT_IN_FILE      inline
4

0                               % index
start_history_DT                % name
1                               % one parent (state_class)
    0    3    0 1 default
        -1   240
        -1   241
        -1   242
1                               % index
update_history_DT                % name
2                               % two parents (current state_class, state class history (this also includes current state)
    0    243  0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 default
        -1   { p1 }
        -1   { p1 + 3 }
        -1   { p1 + 6 }
        -1   { p1 + 9 }
        -1   { p1 + 12 }
        -1   { p1 + 15 }
        -1   { p1 + 18 }
        -1   { p1 + 21 }
        -1   { p1 + 24 }
        -1   { p1 + 27 }
        -1   { p1 + 30 }
        -1   { p1 + 33 }
        -1   { p1 + 36 }
        -1   { p1 + 39 }
        -1   { p1 + 42 }
        -1   { p1 + 45 }
        -1   { p1 + 48 }
        -1   { p1 + 51 }
        -1   { p1 + 54 }
        -1   { p1 + 57 }
        -1   { p1 + 60 }
        -1   { p1 + 63 }
        -1   { p1 + 66 }
        -1   { p1 + 69 }
        -1   { p1 + 72 }
        -1   { p1 + 75 }
        -1   { p1 + 78 }
        -1   { p1 + 81 }
        -1   { p1 + 84 }
        -1   { p1 + 87 }
        -1   { p1 + 90 }
        -1   { p1 + 93 }
        -1   { p1 + 96 }
        -1   { p1 + 99 }
        -1   { p1 + 102 }
        -1   { p1 + 105 }
        -1   { p1 + 108 }
        -1   { p1 + 111 }
        -1   { p1 + 114 }
        -1   { p1 + 117 }
        -1   { p1 + 120 }
        -1   { p1 + 123 }
        -1   { p1 + 126 }
        -1   { p1 + 129 }
        -1   { p1 + 132 }
        -1   { p1 + 135 }
        -1   { p1 + 138 }
        -1   { p1 + 141 }
        -1   { p1 + 144 }
        -1   { p1 + 147 }
        -1   { p1 + 150 }
        -1   { p1 + 153 }
        -1   { p1 + 156 }
        -1   { p1 + 159 }
        -1   { p1 + 162 }
        -1   { p1 + 165 }
        -1   { p1 + 168 }
        -1   { p1 + 171 }
        -1   { p1 + 174 }
        -1   { p1 + 177 }
        -1   { p1 + 180 }
        -1   { p1 + 183 }
        -1   { p1 + 186 }
        -1   { p1 + 189 }
        -1   { p1 + 192 }
        -1   { p1 + 195 }
        -1   { p1 + 198 }
        -1   { p1 + 201 }
        -1   { p1 + 204 }
        -1   { p1 + 207 }
        -1   { p1 + 210 }
        -1   { p1 + 213 }
        -1   { p1 + 216 }
        -1   { p1 + 219 }
        -1   { p1 + 222 }
        -1   { p1 + 225 }
        -1   { p1 + 228 }
        -1   { p1 + 231 }
        -1   { p1 + 234 }
        -1   { p1 + 237 }
        -1   { p1 + 240 }
        -1   { p1 }
        -1   { p1 + 3 }
        -1   { p1 + 6 }
        -1   { p1 + 9 }
        -1   { p1 + 12 }
        -1   { p1 + 15 }
        -1   { p1 + 18 }
        -1   { p1 + 21 }
        -1   { p1 + 24 }
        -1   { p1 + 27 }
        -1   { p1 + 30 }
        -1   { p1 + 33 }
        -1   { p1 + 36 }
        -1   { p1 + 39 }
        -1   { p1 + 42 }
        -1   { p1 + 45 }
        -1   { p1 + 48 }
        -1   { p1 + 51 }
        -1   { p1 + 54 }
        -1   { p1 + 57 }
        -1   { p1 + 60 }
        -1   { p1 + 63 }
        -1   { p1 + 66 }
        -1   { p1 + 69 }
        -1   { p1 + 72 }
        -1   { p1 + 75 }
        -1   { p1 + 78 }
        -1   { p1 + 81 }
        -1   { p1 + 84 }
        -1   { p1 + 87 }
        -1   { p1 + 90 }
        -1   { p1 + 93 }
        -1   { p1 + 96 }
        -1   { p1 + 99 }
        -1   { p1 + 102 }
        -1   { p1 + 105 }
        -1   { p1 + 108 }
        -1   { p1 + 111 }
        -1   { p1 + 114 }
        -1   { p1 + 117 }
        -1   { p1 + 120 }
        -1   { p1 + 123 }
        -1   { p1 + 126 }
        -1   { p1 + 129 }
        -1   { p1 + 132 }
        -1   { p1 + 135 }
        -1   { p1 + 138 }
        -1   { p1 + 141 }
        -1   { p1 + 144 }
        -1   { p1 + 147 }
        -1   { p1 + 150 }
        -1   { p1 + 153 }
        -1   { p1 + 156 }
        -1   { p1 + 159 }
        -1   { p1 + 162 }
        -1   { p1 + 165 }
        -1   { p1 + 168 }
        -1   { p1 + 171 }
        -1   { p1 + 174 }
        -1   { p1 + 177 }
        -1   { p1 + 180 }
        -1   { p1 + 183 }
        -1   { p1 + 186 }
        -1   { p1 + 189 }
        -1   { p1 + 192 }
        -1   { p1 + 195 }
        -1   { p1 + 198 }
        -1   { p1 + 201 }
        -1   { p1 + 204 }
        -1   { p1 + 207 }
        -1   { p1 + 210 }
        -1   { p1 + 213 }
        -1   { p1 + 216 }
        -1   { p1 + 219 }
        -1   { p1 + 222 }
        -1   { p1 + 225 }
        -1   { p1 + 228 }
        -1   { p1 + 231 }
        -1   { p1 + 234 }
        -1   { p1 + 237 }
        -1   { p1 + 240 }
        -1   { p1 }
        -1   { p1 + 3 }
        -1   { p1 + 6 }
        -1   { p1 + 9 }
        -1   { p1 + 12 }
        -1   { p1 + 15 }
        -1   { p1 + 18 }
        -1   { p1 + 21 }
        -1   { p1 + 24 }
        -1   { p1 + 27 }
        -1   { p1 + 30 }
        -1   { p1 + 33 }
        -1   { p1 + 36 }
        -1   { p1 + 39 }
        -1   { p1 + 42 }
        -1   { p1 + 45 }
        -1   { p1 + 48 }
        -1   { p1 + 51 }
        -1   { p1 + 54 }
        -1   { p1 + 57 }
        -1   { p1 + 60 }
        -1   { p1 + 63 }
        -1   { p1 + 66 }
        -1   { p1 + 69 }
        -1   { p1 + 72 }
        -1   { p1 + 75 }
        -1   { p1 + 78 }
        -1   { p1 + 81 }
        -1   { p1 + 84 }
        -1   { p1 + 87 }
        -1   { p1 + 90 }
        -1   { p1 + 93 }
        -1   { p1 + 96 }
        -1   { p1 + 99 }
        -1   { p1 + 102 }
        -1   { p1 + 105 }
        -1   { p1 + 108 }
        -1   { p1 + 111 }
        -1   { p1 + 114 }
        -1   { p1 + 117 }
        -1   { p1 + 120 }
        -1   { p1 + 123 }
        -1   { p1 + 126 }
        -1   { p1 + 129 }
        -1   { p1 + 132 }
        -1   { p1 + 135 }
        -1   { p1 + 138 }
        -1   { p1 + 141 }
        -1   { p1 + 144 }
        -1   { p1 + 147 }
        -1   { p1 + 150 }
        -1   { p1 + 153 }
        -1   { p1 + 156 }
        -1   { p1 + 159 }
        -1   { p1 + 162 }
        -1   { p1 + 165 }
        -1   { p1 + 168 }
        -1   { p1 + 171 }
        -1   { p1 + 174 }
        -1   { p1 + 177 }
        -1   { p1 + 180 }
        -1   { p1 + 183 }
        -1   { p1 + 186 }
        -1   { p1 + 189 }
        -1   { p1 + 192 }
        -1   { p1 + 195 }
        -1   { p1 + 198 }
        -1   { p1 + 201 }
        -1   { p1 + 204 }
        -1   { p1 + 207 }
        -1   { p1 + 210 }
        -1   { p1 + 213 }
        -1   { p1 + 216 }
        -1   { p1 + 219 }
        -1   { p1 + 222 }
        -1   { p1 + 225 }
        -1   { p1 + 228 }
        -1   { p1 + 231 }
        -1   { p1 + 234 }
        -1   { p1 + 237 }
        -1   { p1 + 240 }

2                               % index
1D_map                          % name
1                               % one parent
        -1 {p0}                 % returns the parent

3                               % index
tuple_map                          % name
1                               % one parent
    0    243  0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 default
        -1 0        
        -1 1        
        -1 2        
        -1 3        
        -1 4        
        -1 5        
        -1 6        
        -1 7        
        -1 8        
        -1 9        
        -1 10        
        -1 11        
        -1 12        
        -1 13        
        -1 14        
        -1 15        
        -1 16        
        -1 17        
        -1 18        
        -1 19        
        -1 20        
        -1 21        
        -1 22        
        -1 23        
        -1 24        
        -1 25        
        -1 26        
        -1 27        
        -1 28        
        -1 29        
        -1 30        
        -1 31        
        -1 32        
        -1 33        
        -1 34        
        -1 35        
        -1 36        
        -1 37        
        -1 38        
        -1 39        
        -1 40        
        -1 41        
        -1 42        
        -1 43        
        -1 44        
        -1 45        
        -1 46        
        -1 47        
        -1 48        
        -1 49        
        -1 50        
        -1 51        
        -1 52        
        -1 53        
        -1 54        
        -1 55        
        -1 56        
        -1 57        
        -1 58        
        -1 59        
        -1 60        
        -1 61        
        -1 62        
        -1 63        
        -1 64        
        -1 65        
        -1 66        
        -1 67        
        -1 68        
        -1 69        
        -1 70        
        -1 71        
        -1 72        
        -1 73        
        -1 74        
        -1 75        
        -1 76        
        -1 77        
        -1 78        
        -1 79        
        -1 80        
        -1 81        
        -1 82        
        -1 83        
        -1 84        
        -1 85        
        -1 86        
        -1 87        
        -1 88        
        -1 89        
        -1 90        
        -1 91        
        -1 92        
        -1 93        
        -1 94        
        -1 95        
        -1 96        
        -1 97        
        -1 98        
        -1 99        
        -1 100        
        -1 101        
        -1 102        
        -1 103        
        -1 104        
        -1 105        
        -1 106        
        -1 107        
        -1 108        
        -1 109        
        -1 110        
        -1 111        
        -1 112        
        -1 113        
        -1 114        
        -1 115        
        -1 116        
        -1 117        
        -1 118        
        -1 119        
        -1 120        
        -1 121        
        -1 122        
        -1 123        
        -1 124        
        -1 125        
        -1 126        
        -1 127        
        -1 128        
        -1 129        
        -1 130        
        -1 131        
        -1 132        
        -1 133        
        -1 134        
        -1 135        
        -1 136        
        -1 137        
        -1 138        
        -1 139        
        -1 140        
        -1 141        
        -1 142        
        -1 143        
        -1 144        
        -1 145        
        -1 146        
        -1 147        
        -1 148        
        -1 149        
        -1 150        
        -1 151        
        -1 152        
        -1 153        
        -1 154        
        -1 155        
        -1 156        
        -1 157        
        -1 158        
        -1 159        
        -1 160        
        -1 161        
        -1 162        
        -1 163        
        -1 164        
        -1 165        
        -1 166        
        -1 167        
        -1 168        
        -1 169        
        -1 170        
        -1 171        
        -1 172        
        -1 173        
        -1 174        
        -1 175        
        -1 176        
        -1 177        
        -1 178        
        -1 179        
        -1 180        
        -1 181        
        -1 182        
        -1 183        
        -1 184        
        -1 185        
        -1 186        
        -1 187        
        -1 188        
        -1 189        
        -1 190        
        -1 191        
        -1 192        
        -1 193        
        -1 194        
        -1 195        
        -1 196        
        -1 197        
        -1 198        
        -1 199        
        -1 200        
        -1 201        
        -1 202        
        -1 203        
        -1 204        
        -1 205        
        -1 206        
        -1 207        
        -1 208        
        -1 209        
        -1 210        
        -1 211        
        -1 212        
        -1 213        
        -1 214        
        -1 215        
        -1 216        
        -1 217        
        -1 218        
        -1 219        
        -1 220        
        -1 221        
        -1 222        
        -1 223        
        -1 224        
        -1 225        
        -1 226        
        -1 227        
        -1 228        
        -1 229        
        -1 230        
        -1 231        
        -1 232        
        -1 233        
        -1 234        
        -1 235        
        -1 236        
        -1 237        
        -1 238        
        -1 239        
        -1 240        
        -1 241        
        -1 242        

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                             DETERMINISTIC CPTs                              %
%                                                                             %

DETERMINISTIC_CPT_IN_FILE       inline

2                               % total number of Det CPTs to follow

0                               % index
start_history_CPT               % name
1                               % number of parents
STATE_CARD STATE_CLASS_HISTORY_CARD  % parent and self cardinalities
start_history_DT                % DT name

1                               % index
update_history_CPT              % name
2                               % number of parents
STATE_CLASS_HISTORY_CARD STATE_CARD STATE_CLASS_HISTORY_CARD  % parent and self cardinalitie
update_history_DT                % DT name

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                                 DENSE CPTs                                  %
%                                                                             %

DENSE_CPT_IN_FILE       /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/learned_params_em_dense_cpts_psiblast_cn.out                ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                               DLINK STRUCTURES                              %
%                                                                             %
% Dlink structures specify the directed dependencies that may exist between   %
% the individual elements of observation vectors.  Given a particular element %
% of an observation vector, a dependency might exist with a parent in the     %
% same frame as the current element or with a parent in some previous or      %
% future frame.                                                               %
% ( see section 4.5 in GMTK reference documentation )                         %

DLINK_IN_FILE                  /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/fixed_params.txt           ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                  MEANs and COVARs for GAUSSIAN COMPONENTS                   %
%                                                                             %

MEAN_IN_FILE                   /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/learned_params_em_mean_vecs_psiblast_cn.out           ascii
COVAR_IN_FILE                  /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/learned_params_em_covar_vecs_psiblast_cn.out           ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                               DLINK MATRICES                                %
%                                                                             %
% A dlink matrix has a coefficient for each dependency specified in a dlink   %
% structure.
%                                                                             %
% We will have as many dlink matrices as we have emission classes ...

DLINK_MAT_IN_FILE               /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/learned_params_em_dlink_mats_psiblast_cn.out          ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                               GAUSSIAN COMPONENTS                           %
%                                                                             %
% each mixture component is specified on a single line with the following     %
% pieces of information :                                                     %
%       a) mixture component index
%       b) mixture component dimensionality
%       c) type of component (1 means uses a dlink, 0 means just mean, covar)
%       d) name of mixture component
%       e) name of mean vector
%       f) name of covariance vector
%       g) name of dlink structure (if type=1)

MC_IN_FILE              /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/fixed_params.txt      		ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                    DENSE PROBABILITY MASS FUNCTIONS                         %
%                                                                             %
% these are needed as weight vectors to combine one or more components into a 
% mixture of components -- we are only using single-component mixtures, so    %
% we will only need a single weight vector with one weight=1                  %

DPMF_IN_FILE            /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/fixed_params.txt      ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                          MIXTURES OF GAUSSIAN COMPONENTS                    %
%                                                                             %
% Here we define the 'mixtures' of componenets (which in this case are not    %
% really mixtures at all since they contain only one componenet) ...          %
%                                                                             %
% Each mixture is defined on a single line with the following pieces of       %
% information :
%       a) mixture index
%       b) mixture dimensionality
%       c) name of mixture
%       d) number of components
%       e) name of vector of mixing weights
%       f) name of 1st component
%       g) name of 2nd component, etc ...

MX_IN_FILE              /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/fixed_params.txt   		ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                              NAME COLLECTIONs                               %
%                                                                             %
% and finally we define a collection of gaussian mixtures ...                 %
NAME_COLLECTION_IN_FILE  /vol1/zafer/software/dspred/stand_alone/models/dbn/ss3/fixed_params.txt   ascii

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%                                    END                                      %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

